config SENSORS_F75393
	tristate "Fintek F75393"
	depends on I2C
	default y
	help
	  If you say yes here you get support for hardware monitoring
	  features of the Fintek F75393
	  Sensor chips.

	  This driver can also be built as a module.



